*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 175, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(117, 198, 233),white);
}

.game-board a{
    padding-top: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    

}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 165px;
    position: absolute;
    bottom: 0;        
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    width: 500px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.game-over{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    font-size: 80px;
    padding-top: 180px;
    visibility:hidden;    
}

.buttom{
    padding: 15px;
    font-size: x-large;
    font-weight: bolder;
    color: antiquewhite;
    border-radius: 15px;
    background-color: rgb(35, 175, 35);
    visibility: hidden;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
    
}

@keyframes clouds-animation {
    from{
        right: -500px;
    }
    to{
        right: 100%;
    }
}